*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    padding: 10px;
}

h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
}



img{
    border-radius: 5px;
}

#myimg:hover{
   opacity: .7;
   cursor: pointer;
}



.closebtn{
    font-size: 50px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}

.imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}

.modal{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    background-color: rgba(0, 0, 0, .8);
    display: none;
 
}

.caption{
    color: white;
    display: block;
    text-align: center;
}

@media screen and (max-width:650px) {
    .imgbox img{
        width: 400px;
    }
}


@media screen and (max-width:425px) {
    .imgbox img{
        width: 300px;
    }
}